img { width: 100%; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #333;
  --title-color: #fff;
  --theme-color: #aa9b77;
  --text-color: #8d9eaf;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 95px;
  padding-right: 95px;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--title-color);
  font-size: 60px;
  white-space: nowrap;
}

/* FORM */

.cover {
  background-size: cover;
  width: 1280px;
  height: 790px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.header-menu {
  margin: 0;
  padding-top: 50px;
}

.header-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  margin-left: 50px;
  margin-bottom: 215px;
  padding: 0;
}

.header-menu-link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.25s linear, border 0.25s linear;
  color: var(--title-color);
}

.motto {
  text-align: center;
  width: 800px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes {
  padding-top: 40px;
  border: none;
  background-color: transparent;
  padding-left: 60px;
  margin-bottom: 215px;
}

.cart {
  border: none;
  background-color: transparent;
  padding-right: 60px;
}

nav a:hover,
nav a:focus,
button:focus,
button:hover {
  color: aquamarine;
  text-decoration: none;
}

form {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.checkbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #f5f6f7;
  padding: 60px 95px;
  width: 100%;
}

.see-all {
  border: none;
  color: var(--title-color);
  background-color: var(--theme-color);
  font-size: 14px;
  padding: 20px;
}


/* TYPO */

.desc {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 12px;
  width: 600px;
  margin-left: 108px;
  padding: 0;
}

.i {
  margin-left: 1.5rem;
}


/* LINE */

.line {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  margin-top: 85px;
}

.line::after {
  content: "";
  width: 990px;
  height: 1px;
  background-color: var(--theme-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line-text {
  display: inline-block;
  padding-right: 50px;
  position: relative;
  z-index: 2;
}

.line-women {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  margin-top: 85px;
  text-align: right;
}

.line-women::before {
  content: "";
  width: 980px;
  height: 1px;
  background-color: var(--theme-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
}

.line-text-women {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  z-index: 2;
}


/* SIZE AND COLOR  */

.size {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.color {
  position: relative;
}

.size-toggle {
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: inline-block;
  border: none;
  background-color: #165eb9;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.color2 {
  background-color: #ffe637;
}

.color3 {
  background-color: #535253;
}

.color1 {
  background-color: #d3a7ac;
}

/* ITEM AND PRICE */

.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 95px;
}

.category-item {
  width: 320px;
  height: 377px;
  background-color: #e6dbdb;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}

.category-image {
  object-fit: cover;
  display: block;
  margin: auto;
}

.category-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-type {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--theme-color);
}

.category-price {
  margin-bottom: 0;
  font-size: 22px;
}


/* FOOTER */
.foot {
  background-color: #aa9b77;
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  margin-top: 140px;
}

.aboutus {
  position: relative;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 710px;
  height: 250px;
  text-align: center;
  outline: 2px solid #837659;
}

.aboutus-title {
  position: absolute;
  left: 41%;
  top: -15px;
  background-color: var(--theme-color);
  color: #837659;
  margin: 0;
  padding: 0 20px;
}

.aboutus-desc {
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 70px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 16px;
  font-weight: 600;
}

.e-commerce {
  background-color: #535253;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.ecommerce-desc {
  color: white;
  font-weight: 600;
  margin: 20px;
}

.twitter {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.twitter-image {
  padding-left: 40px;
}

.trekking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #424242;
  height: 350px;
  margin: 0;
  position: relative;
  color: #fff;
}

.trekking-footer {
  display: block;
  padding: 109px 0 119px 64px;
  width: 320px;
  height: 140px;
  margin: 0;
}

.trekking-desc {
  padding-top: 20px;
  margin: 0;
  font-size: 10px;
  text-transform: capitalize;
}

.trekking-title {
  margin: 0;
  font-size: 20px;
}

.credit-nav {
  margin: 0;
  padding: 150px 64px 150px 0;
}

.credit-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.credit-nav-item {
  padding: 0;
  cursor: pointer;
}

.credit-nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: color 0.25s linear, border 0.25s linear;
}

.credit-design {
  text-align: right;
  display: block;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.vertical {
  border-right: 1px solid var(--theme-color);
  padding: 0 6px;
}

.nonvertical {
  padding: 0 6px;
}
